.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > header {
    user-select: none;

    display: flex;
    align-items: center;
    background-color: #000;

    color: #fff;

    > header {
      width: 200px;
      font-size: 1.5em;
      font-weight: bold;
      background-color: #000;
      text-align: center;
    }

    > main {
      flex: 1;

      font-size: 14px;

      > a {
        display: inline-block;
        color: #fff;

        padding: 10px 0;
        margin: 0 10px;
        text-align: center;
        transition: all 0.3s;

        &:hover {
          color: #009afe;
        }
      }
    }

    > footer {
      padding-right: 20px;
    }
  }

  > main {
    flex: 1;
    width: 80%;
    padding: 0 10%;
    overflow: auto;
  }
}

.checked_link {
  color: #009afe !important;
}
