.container {
  display: flex;
  flex-direction: column;

  > header {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    > input {
      margin: 0 10px;
      width: 300px;
    }
  }

  > main {
    flex: 1;
    overflow: auto;

    > div {
      margin: 10px;
      padding: 10px;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      position: relative;

      display: flex;
      align-items: center;

      > span.tag {
        margin-left: 5px;
        color: #fff;
        background-color: #009afe;
        min-width: 20px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        display: inline-block;
        border-radius: 50%;
      }

      > span.del {
        display: none;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;

        position: absolute;
        right: 0;
        top: 0;

        &:after {
          content: "X";
          display: inline-block;
          text-align: center;
          width: 100%;
          font-size: 12px;
          color: #fff;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &:hover {
        color: #009afe;
        border-color: #009afe;

        > span.del {
          display: inline-block;
        }
      }
    }
  }
}
