.container {
  height: 100%;

  :global(.ant-tabs-content-holder) {
    overflow: auto !important;
  }
}

.site-list {
  display: flex;
  flex-direction: column;

  > header {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;

    > span {
      margin-right: 10px;
    }
  }

  > main {
    display: flex;
    flex-wrap: wrap;
  }

  > main {
    flex: 1;
    overflow: auto;

    > div {
      margin: 10px;
      padding: 10px;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      position: relative;

      display: flex;
      align-items: center;

      > span.tag {
        margin-left: 5px;
        color: #fff;
        background-color: #52c41a;
        min-width: 20px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        display: inline-block;
        border-radius: 50%;
      }

      > span.del {
        display: none;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;

        position: absolute;
        right: 0;
        top: 0;

        &:after {
          content: "X";
          display: inline-block;
          text-align: center;
          width: 100%;
          font-size: 12px;
          color: #fff;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &:hover {
        color: #009afe;
        border-color: #009afe;

        > span.del {
          display: inline-block;
        }
      }
    }
  }
}

.card {
  user-select: none;

  box-sizing: border-box;
  width: calc(25% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;

  position: relative;

  > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > header {
    font-weight: bolder;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > main {
      flex: 1;
    }

    > aside {
      display: none;
    }
  }
  > main {
    margin: 5px 0;
  }
  > footer {
    span {
      margin: 0 5px 0 0;
      padding: 0 5px;
      border: 1px solid #999;
      border-radius: 5px;
      font-size: 12px;
      display: inline-block;
      color: #999;

      &.count {
        color: #fff;
        background-color: #52c41a;
        border-color: #52c41a;
      }
      &.del {
        position: absolute;
        right: 5px;
        bottom: 10px;
        color: red;
        border: none;
        // color: #fff;
        // background-color: red;
        // border-color: red;
        display: none;
      }
    }
  }

  &:hover {
    cursor: pointer;

    border-color: #009afe;
    > header {
      > main {
        color: #009afe;
      }

      > aside {
        display: inline-block;
      }
    }

    > main {
      color: #009afe;
    }
  }
}

.add-category {
  padding: 0 10px;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    color: #52c41a;
    transform: scale(2);
  }
}

.add-link {
  position: fixed;
  bottom: 20px;
  right: 100px;

  > header {
    background-color: #52c41a;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    text-align: center;

    > i {
      color: #fff;
      font-size: 2em;
    }
  }
}
