name: auto cicd
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Node
        uses: actions/setup-node@master
        with:
          node-version: "16.x"
      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8
      # - name: Build and Deploy
      #  run: pnpm install --no-frozen-lockfile && pnpm build
      # 部署到 GitHub pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3 # 使用部署到 GitHub pages 的 action
        with:
          publish_dir: ./docs # 部署打包后的 dist 目录
          github_token: ${{ secrets.DEPLOY_TOKEN }} # secret 名
          user_name: ${{ secrets.MY_USER_NAME }}
          user_email: ${{ secrets.MY_USER_EMAIL }}
          commit_message: 自动部署 # 部署时的 git 提交信息，自由填写

        
