name: auto cicd
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Node
        uses: actions/setup-node@master
        with:
          node-version: "16.x"
      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Build and Deploy
        run: pnpm install --no-frozen-lockfile && pnpm build
        
